<configuration>
  <components>
    <!--<component id="DemoStoreWebApi" service="UCommerce.Web.Api.IContainsWebservices, UCommerce.Web.Api"
        type="UCommerce.DemoStore.WebServices.AssemblyTag, UCommerce.DemoStore"/>-->

    <component
    id="UCommerceSyncContentTreeProvider"
    service="UCommerce.Tree.ITreeContentProvider, UCommerce"
    type="UCommerceSync.Sitecore.UI.ContentProvider.UCommerceSyncContentTreeProvider, UCommerceSync.Sitecore.UI" />


    <component
    id="UCommerceSyncNodeTypeToUrlConverter"
    service="UCommerce.Tree.ITreeNodeTypeToUrlConverter, UCommerce"
    type="UCommerceSync.Sitecore.UI.ContentProvider.UCommerceSyncNodeTypeToUrlConverter, UCommerceSync.Sitecore.UI" />

    <!-- Shell services -->
    <component
        id="TreeServiceShell"
        service="UCommerce.Tree.ITreeContentService, UCommerce"
        type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
      <parameters>
        <contentProviders>
          <list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
            <item>${DefaultShellCatalogSectionProvider}</item>
            <item>${DefaultCatalogSearchItemProvider}</item>
            <item>${DefaultOrdersSectionProvider}</item>
            <item>${DefaultMarketingSectionProvider}</item>
            <item>${DefaultAnalyticsSectionProvider}</item>
            <item>${DefaultRootSectionProvider}</item>
            <item>${DefaultSettingsRootSectionProvider}</item>
            <item>${DefaultSettingsCatalogProvider}</item>
            <item>${DefaultSettingsOrdersProvider}</item>
            <item>${DefaultSettingsEmailsProvider}</item>
            <item>${DefaultSettingsDefinitionsProvider}</item>
            <item>${DefaultSettingsSecurityProvider}</item>
            <item>${UCommerceSyncContentTreeProvider}</item>
          </list>
        </contentProviders>
      </parameters>
    </component>

    <component
        id="TreeNodeConverterService"
        service="UCommerce.Web.Api.Services.Nodes.ITreeNodeContentToTreeNodeConverter, UCommerce.Web.Api"
        type="UCommerce.Web.Api.Services.Nodes.Impl.TreeNodeContentToTreeNodeConverter, UCommerce.Web.Api">
      <parameters>
        <urlConverters>
          <list type="UCommerce.Tree.ITreeNodeTypeToUrlConverter, UCommerce">
            <item>${DefaultUrlConverter}</item>
            <item>${UCommerceSyncNodeTypeToUrlConverter}</item>
          </list>
        </urlConverters>
        <optionConverters>
          <list type="UCommerce.Tree.ITreeNodeOptionToOptionItemConverter, UCommerce">
            <item>${DefaultOptionConverter}</item>
          </list>
        </optionConverters>
      </parameters>
    </component>
  </components>
</configuration>